@import "tailwindcss";
@tailwind components;
@tailwind utilities;

/* Custom design tokens */
:root {
  --color-bg: #ffffff;
  --color-bg-alt: #fafafa;
  --color-text-primary: #0a0a0a;
  --color-text-secondary: #4b4b4b;
  --color-accent: #069BAF;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: 'Inter', system-ui, sans-serif;
}
